<link rel="stylesheet" href="/stylesheets/viewprofile.css">
<div>
    <div>
        <img class="image" src="/user/{{profile._id}}.jpg" alt="">
    </div>
    <p>name:{{profile.userName}}</p>
    <p>email:{{profile.email}}</p>
    <p>phoneNumber:{{profile.phoneNumber}}</p>
    <p>workstatus:{{profile.workstatus}}</p>
    <p>about:{{profile.about}} </p>
    <p>qualification:{{profile.qualification}}</p>
    <p>skills:{{profile.skills}}</p>
    <p>experience:{{profile.experience}}</p>
    <p>jobcategory:{{profile.jobcategory}}</p>
    <p>languages:{{profile.language}}</p>
    <a href="/editprofile"><button>edit</button></a>

</div>