<div>
    <p>name:{{profile.name}}</p>
    <p>email:{{profile.email}}</p>
    <p>phoneNumber:{{profile.phoneNumber}}</p>
    <p>workstatus:{{profile.workstatus}}</p>
    <p>about:{{profile.about}} </p>
    <p>qualification:{{profile.qualification}}</p>
    <p>skills:{{profile.skills}}</p>
    <p>experience:{{profile.experience}}</p>
    <p>jobcategory:{{profile.jobcategory}}</p>
    <p>languages:{{profile.languages}}</p>
</div>