<p>userprofile</p>
<p>name:{{userprofile.userName}}</p>
<p>email:{{userprofile.email}}</p>
<p>phoneNumber:{{userprofile.phoneNumber}}</p>
<p>workstatus:{{userprofile.workstatus}}</p>
<p>about:{{userprofile.about}} </p>
<p>qualification:{{userprofile.qualification}}</p>
<p>skills:{{userprofile.experience}}</p>
<p>jobcategory:{{userprofile.jobcategory}}</p>
<p>languages:{{userprofile.language}}</p>