<link rel="stylesheet" href="/stylesheets/viewjob.css">
<div class="maincardcontainer">
    {{#each jobs}}
    <div class="card">
        <div class="card-details">
            <p class="text-title title">{{title}}</p>
            <p class="text-body">qualification:{{qualification}}</p>
            <p class="text-body">vaccancy:{{vaccancy}}</p>
            <p class="text-body">salary:{{salary}}</p>
            <p class="text-body">experience:{{experience}}</p>
            <p class="text-body">jobtype:{{jobtype}}</p>
            <p class="text-body">lastdate:{{lastdate}}</p>
            <p class="text-body">dateposted:{{dateposted}}</p>
            <p class="text-body">status:{{status}}</p>
        </div>
        <div class="buttons">
            <div class="button">
                <button class="card-button">edit</button>
                <button class="card-button">delete</button>
            </div>
        </div>
    </div>
    {{/each}}

</div>